.group-container{
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-group-title{
  margin-bottom:30px ;
  text-align: center;
  font-size: 28px;
    line-height: 1.17;
    color: var(--secondary-color);
}

.group-list {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.group-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .group-icon,
  &:focus .group-icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width:320px) and (max-width:480px) {
  .group-link{
    width:100% ;
  }
}

@media screen and (min-width:768px) {
  .group-link{
    width:226px ;
  }
}
@media screen and (min-width:1200px) {
  .group-container {
    padding-top: 79px;
    padding-bottom: 94px;
  }
    .group-link{
      width:170px ;
    }
}
.group-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}