.examples {
    display: flex;
    align-items: baseline;
}



.examples__elem {
    width: 270px;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.examples__wrapper {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.examples-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.examples-text {
    font-weight: 400;
    line-height: 1.71;
}