.team-container {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
}

.team {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .team__elem {
    display: block;
    width: 354 px;
    height: 536 px;
  }
}
.section-team-title {
    text-align: center;
    font-size: 28px;
    line-height: 1.17;
    color: var(--secondary-color);
}

.team-elem {
    margin-top: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
    .section-team-title {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .team-container {
        padding-top: 79px;
        padding-bottom: 109px;
    }

    .team-elem {
        margin-top: 0;
    }
    .team-list{
      flex-wrap: nowrap;
    }
}

.team-pro {
  width: 290px;
  padding-top: 30px;
  //padding-bottom: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media screen and(min-width:1200px) {
  .team-pro{
    width:270px ;
  }
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

.team-prof {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.network-list {
  display: flex;
  width: 206px;
  column-gap: 10px;
  justify-content: center;
  margin-left: 28px;
}

.network-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition: background-color var(--transition-dur-and-func);

  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .network-list-icon,
  &:focus .network-list-icon {
    fill: var(--alternativ-color);
  }
}

.network-list-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}


