.menu {
  display: none;
}
.contact {
  display: none;
}
.contact-link {
  display: none;
}

@media screen and(min-width:768px) {
  .menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 87px;
    margin-right: 96px;
  }
  .contact {
    display: block;
  }
  .contact-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    transition: color var(--transition-dur-and-func);
  }
  .contact-link__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width:1200px) {
  .menu{
    margin-left: 0;
    margin-right:315px ;
  }
  
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link__icon {
  fill: currentColor;
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

@media screen and(min-width:768px) {
  .open-mobile-menu-btn {
    display: none;
  }
}
.current {
  color: var(--accent-color);
}

.menu__link {
  display: inline-block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size:14px ;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link.current::after {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 2px;
  content: "";
}

//.contact-link {

//column-gap: 10px;
//padding-top: 32px;
//padding-bottom: 32px;
