.menu{
   display: none;
}
.contact{
   display: none;
}

.open-mobile-menu-btn{
   line-height: 0;
   border: none;
   background-color: transparent;
   padding: 0;
   width: 40px;
   height: 40px;
}

//.current {
  // color: var(--accent-color);
   //}

//.menu {
 //   display: flex;
 //   column-gap: 50px;
//}

//.menu__link {
  //  display: inline-block;
  //  position: relative;
   // padding-top: 32px;
   // padding-bottom: 32px;

   // font-weight: 500;
   // line-height: 1.14;
   // letter-spacing: 0.02em;
  //  color: var(--secondary-color);

    //transition: color var(--transition-dur-and-func);

 //&:hover,
 //&:focus {
        //color: var(--accent-color);
   // }
//}
 //
 //.menu__link.current::after {
 //   display: block;
 //   position: absolute;
 //   height: 4px;
  //  width: 100%;
  //  background-color: #2196f3;
  //  border-radius: 2px;
 //   bottom: -1px;
  //  content: "";
  //  }

 
//.contact-link {
 //   display: flex;
  //  column-gap: 10px;
  //  align-items: center;
   // padding-top: 32px;
   // padding-bottom: 32px;

   // font-weight: 500;
   // line-height: 1.14;
   // letter-spacing: 0.02em;
   // color: var(--primary-color);

   // transition: color var(--transition-dur-and-func);

 //&:hover,
 //&:focus {
  //      color: var(--accent-color);
   // }
//}

//.contact-link__icon {
   // fill: currentColor;
//}

