.menu {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.logotyp {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin:16px 0 ;

  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

@media screen and(min-width:768px) {
  .menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 87px;
    margin-right: 96px;
  }
  .logotyp{
    margin:26px 0;
  }
}

@media screen and (min-width:1200px) {
  .menu{
    margin-left: 0;
    margin-right: 0; ;
  }
    .logotyp {
      font-size: 26px;
      margin-right: 92px;
    }  
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

@media screen and(min-width:768px) {
  .open-mobile-menu-btn {
    display: none;
  }
}

.menu__link {
  display: inline-block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size:14px ;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link.current::after {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
  content: "";
}

