:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --primary-color: #757575;
    --secondary-color: #212121;
    --alternativ-color: #ffffff;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
